[2020-08-15 01:06] thomashoneyman opened #1 "Complete automated setup scripts"
This library has the set of templates necessary to standardize projects in the Contributors organization, but it doesn't yet have scripts (either as shell scripts or as a PureScript executable like [setup-purescript](https://github.com/purescript-contrib/setup-purescript)) that automate doing this in Contributors projects.

It's important that standardizing existing libraries and being ready to st

[2020-08-15 01:54] thomashoneyman commented on #1
On second thought — perhaps this should copy everything except for the .git, src, test directories and spago.dhall and packages.dhall filed into a new directory, and then write all the files from the template.

You’d then selectively copy things back in to the main directory, delete the temp folder, and push a commit. It’s not a pleasant experience but at least it doesn’t try to be smart and that

[2020-08-15 02:07] thomashoneyman opened #2 "Proposal: PureScript Contributors "adoption drive""
At the moment @garyb and I are de facto maintainers for most of the PureScript Contributors libraries. Few of those libraries meet the [minimum library requirements](https://github.com/purescript-contrib/governance/blob/main/library-guidelines.md) for documentation, tests, or curated issue trackers. Maintaining 40+ libraries here along with the libraries we maintain in the Halogen organization, pe

[2020-08-15 04:50] milesfrain commented on #1
I'm happy to dig into this, but probably won't start until after Tuesday, so don't let me block anyone else who wants to get started earlier. Also, should I be able to self-assign these issues?

[2020-08-15 05:14] thomashoneyman commented on #1
Sure, feel free to self-assign anything you’d like to if you plan on working on it in a short timeframe

[2020-08-15 19:31] milesfrain commented on #1
Turns out that github doesn't allow self-assignment without being a collaborator on the repo.
https://github.com/isaacs/github/issues/100

I'm not seeing an option to self assign on other issues in this repo. Is org "member" status different than repo "collaborator"?
![image](https://user-images.githubusercontent.com/3578681/90320134-f27dbd00-def2-11ea-94ef-1e3edd36ec55.png)

[2020-08-15 19:59] thomashoneyman commented on #1
Org members aren't automatically added to all repos, but I still thought you could self-assign. I've added you now.

[2020-08-16 01:09] thomashoneyman commented on #1
Another thought -- perhaps something like [yeoman](https://yeoman.io/) or [cookiecutter](https://cookiecutter.readthedocs.io/en/1.7.2/) would be a better alternative? New projects can be bootstrapped from the template and existing projects can be updated manually; it also would provide non-Contributors libraries the ability to start with a standard library template.

[2020-08-25 00:58] #1 closed

[2020-08-27 20:44] JordanMartinez opened #4 "Cannot build `updater` tool."
While following the instructions for compiling the updater tool, I got stuck here:

1. Ran `nix-shell`
2. Ran `npm run build`
3. Got this error: `sh: ncc: command not found`:
[code]

[2020-08-27 21:50] thomashoneyman commented on #4
Good catch. The shell provides everything except the NPM dependencies — ncc, specifically, which might actually be in Nix and I haven’t checked — so you also need to run npm install.

[2020-08-28 00:47] JordanMartinez commented on #4
Ok. Another issue to fix. I get an error when I run `sudo npm link`:
[code]

Turns out you have to exit `nix-shell` and then run `npm link`

[2020-08-28 00:55] JordanMartinez opened #5 "Update `updater` tool to also ignore `bower_components`"

[2020-08-28 03:56] thomashoneyman commented on #5
I didn’t include bower_components only because bower is used for publishing and not installation. But I suppose there’s no harm in including it.

[2020-08-28 03:56] #5 closed

[2020-08-28 03:57] thomashoneyman commented on #4
Huh — that’s weird. I’m not exiting the shell and Node is included in the shell, which should also include npm automatically. You don’t have access to npm at all in the shell?

[2020-08-28 18:57] thomashoneyman commented on #4
Reproduction from my system:

[code]

However, it's also acceptable to just run `npm link` outside the shell.

[2020-08-28 19:34] JordanMartinez commented on #4
The issue arises when I use both `sudo` and `npm` in the same command. Running `npm link` causes a crash due to permissions issues, which made me run `sudo npm link`. However, running that will then output the above error as though `npm` doesn't exist when it clearly does.

[2020-08-29 16:24] #4 closed

[2020-08-31 01:55] milesfrain opened #8 "index.js vs updater.js"
Finally getting around to trying this out, but am encountering an error when following the [updater instructions](https://github.com/purescript-contrib/governance/blob/main/updater/README.md).

[code]

Wondering if `bin/updater.js` should be renamed to `bin/index.js` or if some mentions of `bin/index.js` should be replaced with `bin/updater.js`.

[2020-08-31 02:12] thomashoneyman commented on #8
Do you have this commit locally?
https://github.com/purescript-contrib/governance/commit/887a28c24926fc7b15dea5caff337d3bde760b7c

If not, can you pull main? The issue is that if you have never built the project then the Nix expression tries to locate a file which does not yet exist -- the very file the Nix shell produces as part of starting up.

[2020-08-31 07:37] milesfrain commented on #8
Yes, I have that commit.

Does this mean I need to run `spago build` or `spago bundle-app` first, or should that be handled by `nix-shell`?

Do the instructions work for you on a fresh clone?

[2020-08-31 22:28] thomashoneyman commented on #8
I had forgotten an entry in the Nix shell still triggering the issue. I've removed it in https://github.com/purescript-contrib/governance/commit/fd2fb5dc59622be4df183e3c2c1bf9a298b7083d and a fresh clone works on my system.

Edit: no, still not quite working correctly. What a nightmare. I ended up just updating the README installation instructions.

https://github.com/purescript-contrib/governance

[2020-09-01 02:12] milesfrain commented on #8
With latest changes:
[code]

[code]

[2020-09-01 02:22] thomashoneyman commented on #8
Sorry, perhaps these docs are badly written. You'd need to replace `/path/to/governance` with, for example, `~/miles/governance/updater/bin/index.js` or wherever you've checked out this repository.

[2020-09-01 04:42] milesfrain opened #10 "Expected behavior of --uses-js"
In the original `package.json` I have:
[code]

But this gets dropped from the new one after running
[code]

The new `package.json` is:
[code]

[2020-09-01 04:53] thomashoneyman commented on #10
At the moment the tool is naive: it will overwrite your existing files and save them into a backups directory. It’s then your job to manually reconcile the differences — for example, by re-adding that dependency.

I’ve been using the diffs to check what’s changed.

I’m not sure how better to handle this — it’s a pretty coarse tool at the moment.

[2020-09-02 21:15] thomashoneyman opened #11 "Add ability to generate a single file"
Currently, running the `generate` tool will always write all files relevant for the version selected (base or uses-js). However, when we need to update just one or two files in a repository this is quite tedious. We should be able to specify a single file to update, or perhaps a comma-separated list of files to update, and only update those.

[2020-09-03 00:17] thomashoneyman opened #12 "Allow ES6 in eslint for FFI?"
Currently we only allow ES5 in our eslint configuration. But recent versions of the PureScript compiler support several useful features from ES6, namely:

* arrow functions, which are more convenient for writing manually-curried functions
* the `const` and `let` keywords

I think that it should be acceptable to use ES6 features like these in our FFI files. That may make current versions of these l

[2020-09-03 01:18] garyb commented on #12
We made a choice to stick with ES5 in the core libraries, and I will continue to do so in my personal libraries at least, as I like knowing that no extra post-processing is required after bundling an app. I know support is pretty decent for arrow fn/const/let now, but I'm fine with the aesthetic hit that the FFI JS takes to never have to think about whether something is going to need babel or what

[2020-09-03 02:11] thomashoneyman commented on #12
I think that's a good reason to continue with ES5 -- the [caniuse](https://caniuse.com/#search=es6) support sits at 97%, which ain't 100% -- and it's good to ensure PureScript libraries can confidently be used without a bundling step. I was thinking that if the compiler can parse it it's fine, but that's not really correct -- it's not like PureScript is transpiling the FFI files.

With this in min

[2020-09-03 02:12] #12 closed

[2020-09-12 00:40] thomashoneyman opened #13 "Update Contributors libraries according to library guidelines"
@milesfrain, @JordanMartinez, and I have been undertaking an effort to ensure all Contributors libraries [meet the Library Guidelines](https://github.com/purescript-contrib/governance/blob/main/library-guidelines.md), with the ultimate goal of ensuring these libraries are documented, tested, and welcoming to users as well as potential contributors.

**Note: If you are interested in helping maintai

[2020-09-12 00:46] thomashoneyman commented on #13
Edit: the checklist has moved:

https://github.com/purescript-contrib/governance/blob/main/updater/UpdateChecklist.md

[2020-09-12 00:54] thomashoneyman commented on #8
Addressed by #9, #7.

[2020-09-12 00:54] #8 closed

[2020-09-12 13:32] JordanMartinez commented on #13
@thomashoneyman Minor typo here:
[code]
Also, `spago init` should be `spago init -C` to remove comments by default.

I need further clarification on how to use the `contrib-updater` tool correctly in regards to the package name fields:
[code]
Given I have package `purescript-foo`, what should `display-name` and `title` be? I assume it's this:
[code]
However, you said `purescript-uri` should be `UR

[2020-09-12 14:21] JordanMartinez commented on #13
I'm claiming `purescript-freet` and `purescript-string-parsers`.

[2020-09-12 15:39] thomashoneyman commented on #13
One quick clarification — package names here are referring to the _Spago_ package name, ie. freet (instead of purescript-freet).

Usually, I supply a capitalized version of the package name as the title — “FreeT” or “String Parsers” — and don’t supply a display name at all (I use the default, which is the package name in backticks).

I only use a custom display name for some libraries like Halogen

[2020-09-12 21:34] JordanMartinez commented on #13
In other words, if the package is `purescript-foo-bar-baz`, you would use
[code]

To clarify, should we get our PR reviewed and approved by one of us before merging them in? Or just merge it as soon as it's done?

[2020-09-12 22:46] thomashoneyman commented on #13
Yes, that’s what I would typically do. And yes I think they should be approved before merging.

[2020-09-13 18:49] thomashoneyman commented on #13
I've updated to fix the typos and clean up the instructions a little bit.

[2020-09-13 21:57] thomashoneyman commented on #10
Closing this, but if you'd like to open an issue to discuss a better way for the tool to work I'm happy to figure out a better solution!

[2020-09-13 21:57] #10 closed

[2020-09-13 22:20] JordanMartinez commented on #13
Just documenting this:
* The package name used in code snippets (for example, the installation instructions) should be the same as that used in the `spago.dhall` file (ie. package-name)
* The package name used in README contents should be the same as that used in the `spago.dhall` file, with backticks (ie. `package-name`)
* The package name used in README titles should be the same as that used in

[2020-09-14 00:30] JordanMartinez opened #15 "Define consistent clear labels to use across all `purescript-contrib` repos"
While we have the `contrb-updater` tool and it has the `sync-labels` command, we haven't yet discussed what labels we want to use and why in a consistent and systematic way.

While working on this, I think we should also keep purescript/governance#5 in mind.

[2020-09-14 02:59] JordanMartinez commented on #13
`purescript-these` is now done.

[2020-09-14 03:03] thomashoneyman commented on #13
Could I get a review on https://github.com/purescript-contrib/purescript-form-urlencoded/pull/18?

[2020-09-14 03:07] JordanMartinez commented on #13
Ah, sorry about that. I was wondering why you hadn't merged that yet, haha.

[2020-09-14 03:13] JordanMartinez commented on #13
I'll take `nullable` next.

[2020-09-14 19:18] JordanMartinez commented on #13
Taking `purescript-options`

[2020-09-14 19:34] JordanMartinez commented on #13
Also taking `purescript-http-methods`

[2020-09-15 01:26] hdgarrood opened #16 "Objecting to stale issue bots"
I don't really do much to help maintain the contrib libraries so maybe this isn't really my place to say, but I'm really not a fan of bots which comment on and then close stale issues. If someone went to the effort of writing up an issue to help improve a library, I think we ought to at least have a person give a description of why we aren't going to act on it if we close it, rather than having a

[2020-09-15 02:13] thomashoneyman commented on #16
This is a good point. The current state of affairs is only marginally better (often _years_ without a response), but I agree there's certain coldness to a bot response that goes against a principle of this organization -- to be empathetic.

I agree. We have some definite triaging to do, and time is not necessarily a good indicator of which issues should go.

On reflection, probably not.

However,

[2020-09-15 02:18] hdgarrood commented on #16
For a while, I have wanted to have a tool which can show me issues across all of the repositories in a given organization at once, together with all of the usual sorting and filtering abilities (open, closed, last updated, etc). I think that might help solve this issue, at least partially. I would guess there's a good chance something like that already exists? I did have a brief look for something

[2020-09-15 03:11] hdgarrood opened #17 "Should the changelog go in the repo root rather than a docs directory?"
I've never seen a changelog anywhere other than in the repo root elsewhere. Also, just in case you hadn't spotted, we currently use GitHub Releases for changelogs, eg: https://github.com/purescript-contrib/purescript-string-parsers/releases

I would support putting the changelog into a file in the repo rather than in GitHub releases though: it's much easier to search through and it doesn't tie us

[2020-09-15 11:01] garyb commented on #16
Is that different than the view that something like https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Apurescript provides?

[2020-09-15 11:19] hdgarrood commented on #16
Oh my god, how did I not know about that

[2020-09-15 11:21] garyb commented on #16
:smile:

Someone pointed it out to me originally too. It's strange how something that is part of the main nav of the site goes so easily unnoticed. A bit of a design failure, I'd say.

[2020-09-15 13:42] JordanMartinez commented on #17
I agree with that. If we leave it in the `docs` folder, then we won't be able to delete that folder in cases like purescript-contrib/purescript-options#34.

[2020-09-15 13:46] JordanMartinez commented on #16
@thomashoneyman I'm in favor of removing the "bot closes an issue" idea, too. It felt cold to me when I saw it happen originally.

Could we also save Gary's search above but for `purescript-contrib`? It might be helpful for ourselves and others who want to know how to contribute. I think the link could go in this repo's readme or something for those who are looking to help.

[2020-09-15 13:53] JordanMartinez opened #18 "Link to organization-wide issue search"
Per #16, I propose we add the below link to this repo somewhere for people who want to know how they could help:

https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Apurescript-contrib

[2020-09-15 16:54] thomashoneyman commented on #18
I'm on board. Where do you think it should go?

[2020-09-15 16:57] thomashoneyman commented on #17
I think it's better to have a single-file changelog rather than use GitHub releases for it, but we can use both. For the [Halogen Hooks changelog](https://github.com/thomashoneyman/purescript-halogen-hooks/blob/main/docs/CHANGELOG.md) I just copy/paste the unreleased section into the GitHub release when it goes out. That makes it easier to write good release notes rather than try to skim recent co

[2020-09-15 16:58] thomashoneyman commented on #17
This move would need to be applied to the [17 libraries which have been updated so far](https://github.com/purescript-contrib/governance/issues/13) as well as updated in the `contrib-updater` tool.

[2020-09-15 16:59] thomashoneyman commented on #13
Due to #19 and #17, let's hold off on doing any further libraries at the moment.

[2020-09-15 17:01] hdgarrood commented on #17
GitHub picks up CONTRIBUTING.md and prompts you to read it when you're opening an issue if the file exists in the repo root too, eg: https://github.com/nodejs/node/issues/new?template=1-bug-report.md I think I would prefer it there, personally, for the same reason: it's probably easier to find that way, especially if you're browsing the repository on your machine after having checked it out.

The

[2020-09-15 17:10] thomashoneyman commented on #17
Quick request: to save on any future updates -- @hdgarrood, @garyb, @JordanMartinez, @milesfrain if you have noticed anything from the 17 libraries we've updated so far that you think should be changed going forward, then please open an issue so I can batch those updates all together. It's great we're having this discussion!

[2020-09-15 19:07] #16 closed

[2020-09-15 19:09] #17 closed

[2020-09-15 19:12] thomashoneyman opened #21 "Fix libraries with incorrect CHANGELOG, CONTRIBUTING, and stale.yml files"
These libraries need to be fixed to:

* Move the `CHANGELOG` file into the repository root and remove the link to it from the README
* Move the `CONTRIBUTING` file into the repository root and fix the links to it in the README and docs/README
* Remove the `.github/workflows/stale.yml` file

- [x] https://github.com/purescript-contrib/purescript-argonaut
- [x] https://github.com/purescript-contrib/

[2020-09-15 19:13] JordanMartinez commented on #21
Agreed!

[2020-09-15 19:21] JordanMartinez commented on #21
If this is a systematic change to all repos, I think we should build a tool that can make such changes via a single command. You're basically doing just this:
[code]
The `stale.yml` one would take a bit more work, but could likely be done in a similar fashion.

[2020-09-15 19:59] JordanMartinez commented on #18
In the [how do I pick something to work on](https://github.com/purescript-contrib/governance/blob/main/contributing.md#id-like-to-help-how-do-i-pick-something-to-work-on) section?

[2020-09-15 20:42] thomashoneyman commented on #18
That's a good place for it.

[2020-09-16 00:42] thomashoneyman opened #22 "Auto-generate initial CHANGELOG based on existing releases when using contrib-updater"
The CHANGELOG.md files we've added to existing libraries are essentially a blank slate, prepared to help us move forward by adding to them. But it would really be better if instead the CHANGELOG was generated from the existing GitHub releases.

Given just the release tag, date, and markdown contents, we can fill in historic data with this format:

[code]

And then proceed with the more usual "brea

[2020-09-16 00:45] thomashoneyman commented on #22
The [API documentation for GitHub releases](https://docs.github.com/en/rest/reference/repos#releases) makes it clear we can pick up the `name` or `tag` for the release tag, `body` for the release contents, and `published_at` for the date.

[2020-09-16 01:06] JordanMartinez commented on #22
I'm a bit confused. Weren't we going to keep track of changes made via a `CHANGELOG.md` file and then copy over the relevant parts when making a release? It sounds like this would reverse that (e.g. make a release and then GH will copy that content over into the changelog file).

[2020-09-16 02:09] #18 closed

[2020-09-16 02:11] thomashoneyman commented on #22
I'm sorry, I wasn't clear. I'm talking about when using `contrib-updater` to generate the correct files for a repository which is either a) being updated for the first time or b) is joining the organization and doesn't have a CHANGELOG already. It would be nice to generate that initial CHANGELOG with all the information from existing releases (without having to do it manually).

Once a CHANGELOG e

[2020-09-16 03:30] JordanMartinez commented on #22
Ah! Ok, that makes more sense.

[2020-09-20 02:19] thomashoneyman commented on #21
Libraries are all updated! There's quite a proliferation of files in the root now, unfortunately, but I think they're all serving a purpose. It'll be nice to remove the `bower.json` files later on.

[2020-09-20 02:19] #21 closed

[2020-09-20 02:21] thomashoneyman commented on #22
This should be used to update the CHANGELOG files (for the 17 libraries in #21 as well as the default for new repositories).

[2020-09-21 13:47] JordanMartinez commented on #22
Just to clarify, the output for one release should look like below, right? I'm using [`purescript-http-methods` @ v4.0.2](https://github.com/purescript-contrib/purescript-http-methods/releases/tag/v4.0.2) as an example:
<hr>

## [v4.0.2](https://github.com/purescript-contrib/purescript-http-methods/releases/tag/v4.0.2) - 7/31/2018

- Added missing case in `fromString` for `PATCH` (`@bklaric`)

<hr

[2020-09-21 19:50] thomashoneyman commented on #22
It's an easy thing to do when producing this from existing releases, so we may as well add it. I don't know what the workflow ought to be for updating those links later, though -- when making a new release you want the changelog to be up-to-date, but because the changelog precedes the release you can't link to it (though I suppose you could pre-emptively do so -- link to the release even though it

[2020-09-21 20:10] JordanMartinez commented on #22
The pre-emptive release works as long as you're using a tag.

[2020-09-21 20:15] thomashoneyman commented on #22
Ah, the releases link works (ie. /releases/)? Not just the tags link (/tags/)?

[2020-09-21 20:27] JordanMartinez commented on #22
Meaning, it follows a predictable pattern as long as the release is based on a tag:
[code]

[2020-09-21 20:56] thomashoneyman commented on #11
Not able to assign this to @gillchristian for some reason, but this issue is taken.

[2020-09-21 23:52] milesfrain commented on #11
I believe you can only assign to non-org members if they made at least one comment on the issue.

[2020-09-22 01:52] gillchristian commented on #11
This should do 😅

[2020-09-22 02:51] JordanMartinez commented on #22
I've created the [make-changelog-from-release-notes](https://github.com/JordanMartinez/make-changelog-from-release-notes) so we can more easily auto-fill the 17 libraries' changelogs

[2020-09-23 03:34] #22 closed

[2020-09-23 20:06] thomashoneyman opened #27 "Add CI for the contrib-updater CLI tool"
The updater tool currently doesn't have any tests or continuous integration running on pull requests. We should at least ensure that the tool compiles successfully, and we can follow up with more sophisticated CI in the future.

This could be done with a fairly standard `setup-purescript` configuration [following that project's README](github.com/purescript-contrib/setup-purescript).

[2020-09-24 17:57] #11 closed

[2020-09-24 18:02] thomashoneyman commented on #13
OK! We can now continue working on the remainder of batch 1.

[2020-09-24 19:55] JordanMartinez commented on #13
Sweet!

[2020-09-24 20:25] gillchristian commented on #27
I can take this one

[2020-09-25 06:05] #27 closed

[2020-10-02 00:00] maxdeviant opened #29 "`contrib-updater` looking for releases in the wrong spot"
I ran into this while migrating [purescript-media-types](https://github.com/purescript-contrib/purescript-media-types) to follow the Contributors library guidelines.

I had previously done much of the work to migrate the library by hand (before learning about `contrib-updater`), so I went back to run `contrib-updater` to fill in the gaps (mainly by generating the changelog).

Here is the command I

[2020-10-02 00:33] JordanMartinez commented on #29
The `repo` argument needs to be the same as `REPO` in `https://github.com/owner/REPO`. Otherwise, the URLs will be wrong. I'm not sure whether that was my fault or or not.

[2020-10-02 00:36] maxdeviant commented on #29
Based on that it seems like using `spago.name` would be incorrect, as we typically drop the `purescript-` prefix for Spago.

[2020-10-02 01:17] thomashoneyman commented on #29
That argument ought to be `variables.repo`, which either uses the user's provided `--repo` argument or falls back to `purescript-{{ spago.name }}` and which is defined a few lines above.

[2020-10-02 01:24] #29 closed

[2020-10-02 01:24] thomashoneyman commented on #13
@maxdeviant took care of `media-types` (thank you!).

[2020-10-02 02:16] maxdeviant commented on #2
FWIW I would be interested in helping maintain the PureScript Contributors libraries.

[2020-10-02 03:32] maxdeviant opened #31 "Missing fields in `spago.dhall`"
I noticed that the `spago.dhall`s in the various Contributors projects are missing the following fields:

- `license`
- `repository`

I believe these fields are required by some tooling (I *think* it might be `spago bump-version`?).

Should we be adding these fields as part of the library standardization effort? It seems like something we could probably get `contrib-updater` to add for us.

[2020-10-02 03:41] thomashoneyman commented on #31
Hm — yes, we probably should. It could be added to the contrib-updater. Some of this is going to change pretty soon anyway with the new PureScript registry (in the meantime we still publish with Bower), but the registry is going to require these fields so might as well do it now.

[2020-10-02 13:42] maxdeviant commented on #13
`purescript-now` was completed in https://github.com/purescript-contrib/purescript-now/pull/14.

[2020-10-03 17:40] thomashoneyman commented on #2
Great! Keep an eye on this issue, as we'll definitely be returning to it once the contrib libraries have been updated for minimum requirements.

[2020-10-04 00:44] thomashoneyman commented on #13
The remainder of Batch 1 is now complete. Please hold off on updating any libraries from Batch 2 until I have a chance to update their admin settings!

[2020-10-04 01:38] thomashoneyman commented on #13
OK -- Batch 2 is now ready to go for anyone who would like to take one on.

[2020-10-04 03:05] maxdeviant commented on #13
I'll take `purescript-arraybuffer-types`.

[2020-10-06 01:37] thomashoneyman commented on #13
Ready for review (I'll merge by EOD tomorrow unless anyone catches issues):

- https://github.com/purescript-contrib/purescript-coroutines/pull/33
- https://github.com/purescript-contrib/purescript-aff-bus/pull/21
- https://github.com/purescript-contrib/purescript-avar/pull/21
- https://github.com/purescript-contrib/purescript-formatters/pull/58
- https://github.com/purescript-contrib/purescript-f

[2020-10-06 03:13] thomashoneyman commented on #13
I've updated the settings for Batch 3 and any of those libraries are also available to take on.

[2020-10-06 21:29] maxdeviant commented on #31
I started to look at this briefly, and one of the potential problems I see is that we don't have a Dhall parser in PureScript, so it might make manipulating `spago.dhall` rather cumbersome.

[2020-10-06 21:47] thomashoneyman commented on #31
We have a utility to transform the `spago.dhall` file to JSON so it can be manipulated:

[code]

which relies on `dhall-json`, which provides the ability to transform Dhall to JSON. And given https://github.com/dhall-lang/dhall-haskell/pull/884, it seems that we can go the other way too, and parse Dhall from JSON. That means we could manipulate the file in JSON and then write the result.

[2020-10-06 21:50] maxdeviant commented on #31
That sounds like it should work just fine.

I did see that we were using `dhall-json` to go from Dhall &rarr; JSON, but I wasn't sure if the other direction would be handled.

[2020-10-06 22:02] thomashoneyman commented on #31
I'm curious if @f-f has any ideas on what the migration to the new registry format might look like, before we do this, because if we're already going to build some kind of automatic migration into Spago itself then this will be a bit of wasted work.

[2020-10-06 22:32] maxdeviant commented on #13
I noticed that some of the repositories in Batch 3 (`purescript-aff`, `purescript-matryoshka`) don't have any maintainers listed in the README.

Who should we pass as the `--maintainer` in these cases?

[2020-10-06 22:36] garyb commented on #13
@natefaubion is definitely one for `aff`, it's mostly his baby at this point.

You can put me down for `matryoshka`. I'm not an expert in recursion schemes although I authored this, based on the Scala library, so it'd be nice if there are any experts who would have an interest in helping out too. Or non experts! But having someone who can assess suitability of proposed modifications would be great

[2020-10-06 22:41] thomashoneyman commented on #13
@maxdeviant if there are no maintainers, you can definitely ask here about it, and otherwise we generally default to @garyb and myself until we find someone more suitable.

[2020-10-07 13:12] f-f commented on #31
Thanks for the ping. I have a couple of thoughts on this:
- I think adding `license` and `repository` is good, the migration will require them anyways for packages that you intend to publish
- using `dhall-to-json` and then `json-to-dhall` (which we already use in the registry CI, see [here](https://github.com/purescript/registry/blob/8df3bb4a9a6678d6fa0f650a8d84bf8202b9fefa/ci/src/Dhall.purs#L11)

[2020-10-07 13:52] JordanMartinez commented on #13
Just wanted to say nice job @thomashoneyman on doing all of those library updates!

[2020-10-07 13:57] maxdeviant commented on #31
I had looked at `dhall-purescript` briefly, but it looks like it's not readily consumable (e.g., it's not published to Pursuit).

I opened https://github.com/MonoidMusician/dhall-purescript/issues/14 to inquire about the state of the library and see if we could get the core parts published to Pursuit.

[2020-10-07 14:14] f-f commented on #31
You don't strictly need for a project to be published to Pursuit in order to use it. You can add it to the local package set, and use `spago docs` to have docs locally

[2020-10-07 14:24] maxdeviant commented on #31
I'm wondering if building this into Spago might be the better choice?

1. When the new registry is available we may have other, non-Contributors packages that need to add these missing fields in order to be published
1. Spago is written in Haskell, so we could use the canonical Haskell implementation of Dhall

[2020-10-07 14:28] maxdeviant commented on #31
As a side note, I would like to have a Dhall library for PureScript, as I think it would be quite useful. But I get the impression that `dhall-purescript` would need some work to become that. Looking at the repo, it looks somewhat abandoned and is also intertwined with a separate project of creating a visual Dhall editor.

Not that I want this to become the policy, but I think in this case I'd lik

[2020-10-09 00:33] thomashoneyman commented on #13
Could use reviews for a few libraries:

- https://github.com/purescript-contrib/purescript-parsing/pull/98
- https://github.com/purescript-contrib/purescript-affjax/pull/153
- https://github.com/purescript-contrib/purescript-react/pull/176

[2020-10-09 00:55] JordanMartinez commented on #13
parsing and affjax have been reviewed. I'm not familiar with react, so I think someone else should review it.

[2020-10-09 02:05] thomashoneyman commented on #13
Also completed:

- https://github.com/purescript-contrib/purescript-react-dom/pull/18
- https://github.com/purescript-contrib/purescript-aff/pull/195

[2020-10-09 02:34] thomashoneyman commented on #13
We've done it! All libraries are complete, as far as pull requests go, so I'm going to close this issue. There are three libraries that haven't had their updates merged yet but I need to wait for reviews from other maintainers on those libraries before taking any more action. With that in mind I'm going to go ahead and close this issue.

[2020-10-09 02:34] #13 closed

[2020-10-09 02:40] maxdeviant commented on #13
![Party Parrot](https://media3.giphy.com/media/l3q2zVr6cu95nF6O4/source.gif)

[2020-11-28 16:36] JordanMartinez opened #35 "Update Contrib libraries to v0.14.0"
When we decide to start updating these, we'll use this issue to track which repos we've done and which we have yet to do, similar to purescript/purescript#3942

I'm merely opening this issue for the time being and expect to edit this opening comment with more details later.

---

Tracking issues and pull requests to merge before 0.14:
https://github.com/issues?q=is%3Aopen+archived%3Afalse+user%3Ap

[2020-12-03 04:42] JordanMartinez commented on #35
One thing my script isn't doing is checking for usages of `Proxy`. I'm gong to update my scripts to recursively search through the src and test directory to find such usages.

[2020-12-03 20:12] JordanMartinez commented on #35
[See the original comment](https://github.com/purescript-contrib/purescript-profunctor-lenses/pull/122#issuecomment-738190901) for source of content below:
<hr>
Role annotations are only necessary to relax the nominal roles of foreign data types or to restrict the roles of phantom parameters when they should satisfy some implicit invariant.

There’s no such types here: `Forget` and `Tagged` have p

[2020-12-03 20:48] kl0tl commented on #35
The following packages mention `SProxy` (see https://github.com/search?q=SProxy+user%3Apurescript-contrib+language%3APureScript&type=code): `argonaut-codecs`, `argonaut-generic`, `profunctor-lenses`, `pathy`, `react` and `uri`.

Only `argonaut-codecs` mention `RLProxy` (see https://github.com/search?q=RLProxy+user%3Apurescript-contrib+language%3APureScript&type=code)

`RProxy`, `BProxy` and `OProx

[2020-12-04 15:23] JordanMartinez commented on #35
Just FYI. Some of the contrib libraries aren't showing up in my list because their repos were transferred to this organization. Thus, the 'grep' solution I'm using to find all contrib libraries won't work because the URL to the repo refers to the original repo (e.g. `slamdata/purescript-pathy`), not the current repo (e.g. `purescript-contrib/purescript-pathy`).

I think this is also why `purescrip

[2020-12-04 20:12] JordanMartinez commented on #35
This one still hasn't gotten a review: https://github.com/purescript-contrib/purescript-argonaut-codecs/pull/90

[2020-12-04 20:30] JordanMartinez commented on #35
These repos don't show up in my list for contrib. Checkbox below means I've created a PR for them. If it's unchcked. Something is blocking it, or I haven't submitted a PR for it yet.
- [x] affjax - blocked by form-urlencoded and web-xhr
- [x] aff-bus
- [x] css
- [x] precise - blocked by quickcheck-laws
- [x] routing
- [x] formatters - blocked by parsing
- [x] fork
- [x] concurrent-queues
- [x] uri

[2020-12-05 02:09] JordanMartinez commented on #35
Besides the repos above that weren't on my list, the only other repos that haven't had a PR submitted are:
- [x] react-dom - blocked by "react", "web-dom","web-events"
- [x] github-actions-toolkit - blocked by "aff-promise","node-buffer","node-path","node-streams"
- [x] ace - blocked by "web-dom","web-events","web-file","web-html","web-storage","web-uievents"

[2020-12-05 02:10] thomashoneyman commented on #35
Oh, shoot, the `purescript-web` and `purescript-node` organizations have to be done too, that's right.

[2020-12-05 02:11] JordanMartinez commented on #35
Yeah.... haha

[2020-12-05 03:28] JordanMartinez commented on #35
Here's a situation where MonadZero's `guard` is used: https://github.com/purescript-contrib/purescript-formatters/blob/main/test/src/DateTime.purs#L108

[2020-12-05 19:21] JordanMartinez commented on #35
I've submitted all PRs to all contrib repos, but not all of these will build due to dependencies on node and web libraries.

Also, the `jquery` lib I mentioned above is owned by `paf31`, so I don't think it should be updated here.

[2020-12-05 19:50] JordanMartinez commented on #35
I added all the libraries that were updated to the `prepare-0.14` package set's `updatedLibs.dhall` file to verify that everything still compiles. I added `purescript-graphs` to the package set and added `purescript-concurrent-queues` to the package set.

During one of the changes I made, CI complained about [pathy and aff-bus](https://github.com/purescript/package-sets/runs/1504344596), which sur

[2020-12-06 04:59] thomashoneyman commented on #35
Yea, let's transfer those!

[2020-12-09 06:42] thomashoneyman commented on #35
Quick heads up here: the `-web` and `-node` organizations are on their way to be updated for 0.14, which will leave us just merging outstanding issues and pull requests across organization libraries for the rest of the month. I'll also be working with @garyb on a new release for Halogen and the core team will be making sure Pursuit is ready to go for 0.14. With all of this in motion we're getting

[2020-12-11 22:34] thomashoneyman commented on #35
At this point we only have these libraries to go, which are blocked by the missing encode / decode URI component functions -- solved if we do https://github.com/purescript-contrib/purescript-form-urlencoded/pull/20#issuecomment-739418901:
- ~https://github.com/purescript-contrib/purescript-affjax/pull/158~
- ~https://github.com/purescript-contrib/purescript-uri/pull/57~
- ~https://github.com/pures

[2020-12-12 02:26] JordanMartinez commented on #35
CSS was merged I believe.

[2020-12-15 04:02] thomashoneyman commented on #35
The four libraries which are blocked (above) can be resolved once this library is published:

https://github.com/purescript-contrib/purescript-js-uri

[2020-12-17 00:11] thomashoneyman commented on #35
These libraries are now all complete! I am going to make a followup issue about issues marked 'fix for 0.14', but the libraries themselves are now all compatible with 0.14.

[2020-12-17 00:11] #35 closed

[2020-12-17 00:13] thomashoneyman opened #36 "Fix libraries with 'fix before 0.14' labels"
We've finished updating all libraries in core, contrib, node, and web, but we have a number of remaining issues to close for the 0.14 release, as tracked by this label search:

https://github.com/issues?q=is%3Aopen+is%3Aissue+archived%3Afalse+user%3Apurescript-contrib+user%3Apurescript-web+user%3Apurescript-node+label%3A%22fix+before+0.14%22+

This issue tracks completion of those issues across th

[2020-12-26 22:19] #36 closed

[2021-04-20 20:00] JordanMartinez opened #37 "Fix warnings in contrib libraries revealed by v0.14.1 PS release"
See purescript/purescript#4071 for more context. Here's the list I have using the same methodology:

- [x] argonaut-generic
- [x] css
- [x] formatters
- [x] machines
- [x] parsing
- [x] pathy
- [x] precise
- [x] profunctor-lenses
- [x] quickcheck-laws
- [x] routing
- [x] strings-extra
- [x] uri

## Node and Web Libs

- [x] node-buffer
- [x] node-fs
- [x] node-process
- [x] web-dom-xpath
- [x] web-

[2021-04-21 14:03] JordanMartinez commented on #37
I've added node and web libraries above, too. The list might be incomplete because I only searched for all libs that started with `node-` or `web-` rather than using my original Vlookup approach.

[2021-04-22 18:50] milesfrain opened #38 "Absorb archived libraries into PureScript contrib"
Should we migrate more archived libraries into this contrib org so we can ensure they're kept up to date and available in the latest package sets?
One candidate is the `event` library (https://github.com/paf31/purescript-event/pull/7).

[2021-04-22 19:28] JordanMartinez commented on #38
I think one reason why that wasn't done earlier was because it wasn't clear who would maintain it. That's why I responded [to a similar question](https://github.com/purescript/package-sets/issues/856#issuecomment-797023435) in the way that I did.

Would you be willing to maintain `event`?

[2021-04-22 19:40] thomashoneyman commented on #38
The halogen-subscriptions library absorbed the relevant parts of event for Halogen applications, though its useful beyond just Halogen. Otherwise, without a committed maintainer in contrib I would rather not absorb libraries. We already have a problem with too many libraries and too few knowledgeable maintainers for them.

[2021-04-22 19:54] garyb commented on #38
Also, Phil doesn't want to transfer his archived libraries. He feels like there's little evidence of his public PS projects anymore so wants to keep the few he has left under his name.

[2021-04-22 20:19] thomashoneyman commented on #38
Yes, that as well. Though I’m including forking to contrib as something I’d only want to do with a dedicated maintainer.

[2021-05-05 13:47] JordanMartinez commented on #37
PRs to all contrib libraries have been submitted.

[2021-05-05 19:21] JordanMartinez commented on #37
All node libraries' PRs have been submitted. Can we start merging some of these open PRs?

[2021-05-06 17:14] thomashoneyman commented on #37
@JordanMartinez Everything except for `precise` has been merged and released.

[2021-05-06 19:23] JordanMartinez commented on #37
@thomashoneyman Thanks!

[2021-05-06 21:54] #37 closed

[2021-05-06 22:12] f-f commented on #37
Thank you both for doing this! :heart:

[2021-05-15 23:13] milesfrain opened #39 "Ignore readme files during CI"
Reminder to [configure actions to ignore readme files](https://stackoverflow.com/a/62972393) so updating the changlog doesn't unnecessarily re-trigger CI.

Endorsed in https://github.com/purescript-contrib/purescript-string-parsers/pull/72#issuecomment-840043543

[2021-05-15 23:14] milesfrain commented on #38
I guess it's straightforward enough to just fork an archived library as an individual and republish.

[2021-05-15 23:14] #38 closed

[2021-05-19 07:41] jamesdbrock opened #40 "uint, float32, arraybuffer"
I'd like to propose these libraries for inclusion into purescript-contrib:

* https://github.com/zaquest/purescript-uint
* https://github.com/athanclark/purescript-float32
* https://github.com/jacereda/purescript-arraybuffer

I depend on these libraries, they are old and reliable, and the owners' attentions seem to have attenuated. Actually, it seems to
me that @athanclark was maintaining all thre

[2021-05-19 11:16] JordanMartinez commented on #40
Just curious, but why not fork these repos under your name, republish under new names, and continue using those from there?

Are there any contrib libraries currently using these libs as dependencies?

[2021-05-19 11:16] athanclark commented on #40
I recommend the transference of maintenance to @jamesdbrock, he seems dedicated and would contribute meaningfully to the ecosystem

[2021-05-19 12:30] zaquest commented on #40
I don't mind transferring `purescript-uint` to `purescript-contrib` if it's of any interest for the community.
Meanwhile, @jamesdbrock I sent you an invite to the repository so you could merge your PR. If you need any assistance from me to publish it Pursuit, please, let me know.

[2021-05-19 14:23] jacereda commented on #40
Same situation here with `purescript-arraybuffer`, I don't mind transferring it.

[2021-05-19 14:38] thomashoneyman commented on #40
Given the basic / foundational nature of these libraries, your offer to maintain them, and the endorsements of each maintainer I’m interested in adding these to contrib.

@zaquest, @athanclark, @jacereda — are you wanting to transfer maintainership entirely, or do you want to remain maintainers alongside @jamesdbrock?

The process from here is to update the libraries according to the contrib guide

[2021-05-19 14:41] athanclark commented on #40
I may wish to recommend changes to my library in the future, but I'm not fit to be the primary maintainer of the library if it's this important to the ecosystem; I'm comfortable with completely transferring maintainership to @jamesdbrock

[2021-05-19 15:21] thomashoneyman commented on #40
Also, just to clarify: I’ll have to discuss with other contrib members about adding these libraries, as it’s not my decision alone.

We may add one or two or all three; for ones we don’t add, you can transfer ownership to @jamesdbrock or add him as a collaborator on the repo as another possible solution — as @JordanMartinez mentioned before.

[2021-05-19 15:32] zaquest commented on #40
I haven't been doing any PureScript programming in years, so I'd rather give up any control over the library. There're PRs if I'd like to suggest changes)

[2021-05-20 02:11] jamesdbrock commented on #40
Thanks everyone for being so helpful about this.

@zaquest and @jacereda , I've accepted your collaboration invitations.

@thomashoneyman I'm still proposing to add all of the libraries and all of the maintainers which I listed in the top of this issue to purescript-contrib. I'll wait for your decision.

[2021-05-20 20:13] JordanMartinez commented on #40
@thomashoneyman Here's my thoughts (and responses to my previous comments):

These three repos provide foundational types for the JS backend that should continue to be supported. Including them in the `contrib`'s repos makes it more likely that these repos will continue to be maintained over time.

I think we should follow the `core` libs policy of not allowing any repos into `core` if they depend

[2021-05-21 01:19] jamesdbrock commented on #40
Thanks @JordanMartinez

[2021-05-21 18:08] zaquest commented on #40
I suggest transfering `purescript-uint` to `purescript-contrib` and possibly adding @jamesdbrock as a maintainer for it, if he wants to be one. If not then maybe `purescript-contrib` people themselve could maintain it. No need to add me in any role, I don't see myself being useful for the package in the foreseeable future.
So please let me know what you decide, whether you choose to include `pures

[2021-06-05 03:01] JordanMartinez commented on #40
@thomashoneyman Any updates on this?

[2021-06-16 19:04] thomashoneyman commented on #40
Sorry folks, I've been on a long vacation. I'm on board with transferring `uint` and `float32` into the contrib organization, and if we can make sure that `arraybuffer` doesn't have dependencies outside of the contrib / core organizations then I'm on board with that one as well.

[2021-06-16 19:06] thomashoneyman commented on #40
@jamesdbrock I've invited you to the contributors organization, and you can now start transferring repositories. Let me know when you've initiated the transfer and I can approve them / update them for the contributors guidelines.

[2021-06-16 19:08] thomashoneyman commented on #40
As far as `arraybuffer` goes, I'd want to remove the dependencies on `purescript-quickcheck-combinators` and `purescript-typelevel` before introducing the library to the Contributors organization. We need to ensure that we can update libraries for compiler releases, which means we need to control the dependency tree.

[2021-06-17 03:57] zaquest commented on #40
Apparently one needs the right to create repositories in organization to transfer a repository to it. @jamesdbrock could you, please, remove your `purescript-uint` repository so that I could transfer it to you? And then you should be able to transfer it to `purescript-contrib`.

[2021-06-19 06:12] jamesdbrock commented on #40
Ok @zaquest  I deleted jamesdbrock/purescipt-uint

[2021-06-19 06:49] jamesdbrock commented on #40
My plan:

https://github.com/purescript/registry#name-squatting-and-reassigning-names

https://github.com/purescript/registry/issues/182

## purescript-uint

Transfer from zaquest to __purescript-contrib/purescript-uint__.

Reassign the same package name in the registry.

Add to package-sets.

(Later on, possibly add some of these instances?
https://github.com/athanclark/purescript-uint-instances/

[2021-06-19 08:32] jamesdbrock commented on #40
@jacereda has transferred __purescript-arraybuffer__ to __purescript-contrib__, thank you @jacereda .

Since __purescript-arraybuffer__ still has the non-contrib dependencies, should I transfer it to myself, or should I leave it in __purescript-contrib__ while we work on it?

[2021-06-19 08:37] jamesdbrock commented on #40
I say we leave __purescript-arraybuffer__ in __purescript-contrib__ while we work on it.

[2021-06-19 08:50] jamesdbrock commented on #40
It appears to me that `spago`, at least, can still download __purescript-arraybuffer__ through whatever redirect mechanism Github uses for transferred repositories. And probably everything else can still download it too.

https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/transferring-a-repository#whats-transferred-with-a-repository

So I think the current si

[2021-06-19 12:36] zaquest commented on #40
Yes, I think redirects is the main reason to use transfer over simply creating a fork, which could've been easier, but would've broken things in the end.

@jamesdbrock Transferred `purescript-uint` to you.

[2021-06-20 13:28] jamesdbrock commented on #40
Sorry @zaquest the transfer expired, please transfer again?

[2021-06-20 13:36] zaquest commented on #40
Aborted and requested transfer one more time.

[2021-06-21 04:22] jamesdbrock commented on #40
@jacereda May I give you a “maintainer” badge on the __purescript-contrib/purescript-arraybuffer__ README? (along with myself, of course)

[2021-06-21 04:38] jamesdbrock opened #41 "All members should be Public"
Before I became a member, I though there were only like nine people in the __purescript-contrib__ organization, because most of the members are Private.

https://github.com/orgs/purescript-contrib/people

I think all members should change their visibility to Public.

[2021-06-21 05:11] thomashoneyman commented on #41
If folks in the organization chime in here and agree we should all be public then we could make a guideline suggesting it, but I’m hesitant to say that you can’t be in the organization unless you’re public.

This can only be enforced socially (ie. there’s no way to disallow private membership afaik), and I think we’d need the benefits of everyone being public to outweigh the social cost of making

[2021-06-21 07:13] jacereda commented on #40
Sure, I'm away from PS development these days, but I might come back at some point if I find a suitable project.

[2021-06-21 13:04] jamesdbrock commented on #40
I guess I don't have permission for the Settings of https://github.com/purescript-contrib/purescript-arraybuffer repository? Would someone please set the default branch of the repository to __main__? @thomashoneyman @JordanMartinez

[2021-06-21 13:39] JordanMartinez commented on #40
I've changed the default branch to `main`.

[2021-06-21 13:45] JordanMartinez commented on #41
I think I'm against this for the reasons Thomas stated above. Sometimes, being public means people might think they can `@` you whenever they have a problem because you technically could help address whatever issue they have (e.g. creating a new release).
Also, just because someone is a part of this group doesn't mean they are actively involved all the time. By being public, it could miscommunicat

[2021-06-21 23:07] jamesdbrock commented on #41
~I think all~ *This is a reminder that* members should change their visibility to Public *, assuming they're Private because that’s the Github default and they haven't bothered to change it.*

[2021-06-22 13:34] JordanMartinez commented on #41
I definitely fell into that group of not knowing I needed to change it.

[2021-06-22 14:50] f-f commented on #41
I semi-consciously chose not to set it as Public, because I am part of so many orgs and I started curating the ones that are shown in my profile.

[2021-06-25 00:29] jamesdbrock commented on #40
@athanclark would you please transfer https://github.com/athanclark/purescript-float32 to __jamesdbrock__?

[2021-07-05 23:29] #41 closed

[2021-07-06 06:53] jamesdbrock commented on #40
In the unlikely case that @athanclark never receives my messages and never transfers the __purescript-float32__ repository and I fork the repo and add it to __purescript-contrib__, we’ll have to give it a new name. And maybe give the data type `Float32` a new name as well? Anyone want to suggest names? How about __purescript-float__ and `Float`?

[2021-07-06 14:25] JordanMartinez commented on #40
I'm good with `purescript-float`. However, why not just keep the same `Float32` name? If anything, we could drop `purescript-float32` from the package set and replace it with `purescript-float` to minimize the breakage.

[2021-07-06 20:02] athanclark commented on #40
@jamesdbrock Sorry for sleeping on this; I just got back from a vacation. I tried to transfer ownership to you, but you already have a fork with the same name as the original project. Maybe changing the name would be the best solution?

[2021-07-09 00:30] jamesdbrock commented on #40
Hi @athanclark sorry I missed your transfer attempt! I renamed my fork of your repo to __jamesdbrock/purescript-float32-fork__ so that you would be able to transfer to me, but probably Github was still reserving __jamesdbrock/purescript-float32__ for redirects, which makes sense, I should have thought of that.

I have now entirely deleted the repo __jamesdbrock/purescript-float32-fork__, please tr

[2021-07-09 00:32] jamesdbrock commented on #40
(P.S. no problem, I hope you had a nice relaxing vacation!)

[2021-07-09 00:45] athanclark commented on #40
Transferred!

[2021-07-09 00:58] jamesdbrock commented on #40
Transfer complete, thank you again @athanclark !

[2021-07-09 02:07] JordanMartinez commented on #40
Thanks!

[2021-07-16 11:47] jamesdbrock commented on #40
I've completed the transfer of these three packages.

1. Ran `contrib-updater`.
2. Checked the https://github.com/purescript-contrib/governance/blob/main/library-guidelines.md
3. Upgraded to `purs` 0.14
4. Split out the testing dependencies into a separate Spago file.
5. Transferred in the __registry__.
6. Added to __package-sets__.
7. Published a new version on Pursuit.

* https://github.com/pure

[2021-07-16 11:47] #40 closed

[2021-07-16 13:44] JordanMartinez commented on #40
Thanks for all your work @jamesdbrock!

[2021-07-23 01:03] jamesdbrock opened #42 "purescript-long?"
This package https://github.com/zapph/purescript-longs

has important features but it gives me lots of trouble because of the way it’s organized. Also the package is not receiving any attention from its author.

How would we feel about a __purescript-contrib/purescript-long__ package which is basically the same thing, but with types `Long` and `ULong` instead of of the parameterized types `Long Si

[2021-07-23 01:06] jamesdbrock commented on #42
This all depends on https://www.npmjs.com/package/long , so maybe it's not a good choice for inclusion in __purescript-contrib__?

[2021-07-23 01:29] JordanMartinez commented on #42
I think I'd be ok with this. It may be wrapping a JS library, but it is also providing "core data types" similar to the other ones that were transferred recently. Plus, the `contrib` org isn't the core libraries.

[2021-07-27 21:23] thomashoneyman opened #43 "Fix CI failures because of unused names or importing transitive dependencies"
A number of our libraries are failing in CI for one of two reasons:

1. They directly import from a package that isn't explicitly listed as a dependency in their `spago.dhall` file
2. They contain unused names in their code (ie. an unused function, or an unused argument, or a destructured value that is never used...)

They need to be fixed by taking actions depending on whether they're failing due

[2021-07-27 23:06] pete-murphy commented on #43
Seems like there were a few people interested in working on this, not sure what the plan is to coordinate, but FWIW, I'll try my hand at fixing `aff` (unless anyone's already claimed it 😄) and then see how it goes from there.

[2021-07-27 23:09] ntwilson commented on #43
`now` is fixed in an earlier PR of mine: https://github.com/purescript-contrib/purescript-now/pull/20/files
I'd be willing to split it into two if that's worthwhile

[2021-07-27 23:28] pete-murphy commented on #43
I'll try to get to `affjax`, `aff-coroutines` & `aff-bus` next

[2021-07-27 23:45] ntwilson commented on #43
I'd love to grab the `argonaut` family of packages.

[2021-07-28 00:39] thomashoneyman commented on #43
Coordination essentially comes down to checking if there is already a PR or if the library is already checked off 😬 I'm open to ideas for coordination! I'll review and merge things as quickly as I can.

[2021-07-28 01:00] pete-murphy commented on #43
Ah whoops, I didn't think to update the `bower.json` in any of my PRs, will get to that

[2021-07-28 01:05] ntwilson commented on #43
Is there a good way to check that `bower.json` got updated correctly (right version numbers, and the correct split between "dependencies" and "devDependencies")?

[2021-07-28 01:18] thomashoneyman commented on #43
~The `bower.json` files don't _have_ to be updated, though I definitely appreciate it. It's a bit annoying so feel free to skip it. You can generate the `bower.json` files from the Spago configurations. No developer in the organization uses Bower, so there's no need to preserve `devDependencies`.~

On second thought -- don't worry about the `bower.json` files. For libraries that have already had t

[2021-07-28 07:31] artemisSystem commented on #43
I'll try `fork`

[2021-07-28 13:23] thomashoneyman commented on #43
All done! Thanks everyone!

[2021-07-28 13:23] #43 closed

[2021-09-01 04:16] jamesdbrock opened #45 "browser compatibility guidance?"
@ozkutuk has suggested in https://github.com/purescript-contrib/purescript-arraybuffer/issues/34#issuecomment-909615292 that the [__arraybuffer__ polyfill for `TypedArray`](https://github.com/purescript-contrib/purescript-arraybuffer/blob/20f4de11f92ebb7fa78cd4ca67b2d4b707721637/src/Data/ArrayBuffer/Typed.js#L20) could be removed, because `TypedArray` has been supported in all browsers for a long

[2021-09-01 11:11] thomashoneyman commented on #45
This is a great question to bring up, and we don't currently have an explicit guidance. I've seen @hdgarrood weigh in on particular issues of browser compatibility in the past and he may have an opinion.

As far as I'm concerned, I'd like to be in the 98%+ browser usage window in general, perhaps with some rare exceptions. I'm somewhat pulling that number out of nowhere, but my gut sense is that w

[2021-09-01 11:53] hdgarrood commented on #45
Yeah, I personally think that 95% is a bit low - that would mean things breaking for 1 in 20 users, which feels like a lot to me. I think 98% sounds reasonable, but we should probably look at what that would mean in practice before deciding on a policy. I also think that where there are opportunities to provide wider support at little to no cost, we should consider taking those opportunities. In t

[2021-10-06 19:12] thomashoneyman commented on #39
I think this is a good idea -- we could do something like this?

[code]

We could update this in the template here in governance, and then also run the updater script to apply this change across the organization.

[2021-10-06 19:24] garyb commented on #39
Same goes for the changelog? Or can we do `**/*.md` or something like that even?

[2021-10-06 19:49] thomashoneyman commented on #39
Whoops, yes, we could probably ignore all .md files (or at least those in the root and docs/ directories)

[2022-03-23 12:43] JordanMartinez opened #51 "Migrate 'make-changelog-from-release-notes' repo code into here"
https://github.com/JordanMartinez/make-changelog-from-release-notes

[2022-03-23 12:44] JordanMartinez commented on #51
This code generates an initial CHANGELOG.md file using the GitHub release notes when a new repo is transferred into the contrib org.

[2022-03-23 12:50] JordanMartinez opened #52 "Fix links outputted for `.github/ISSUE_TEMPLATE/config.yml`"
File content should be:
[code]

[2022-03-23 12:58] thomashoneyman commented on #51
Is this not usable?

https://github.com/purescript-contrib/governance/blob/main/updater/src/Updater/Generate/Changelog.purs

[2022-03-23 13:55] JordanMartinez commented on #51
Hm.... I think I forgot this was already ported here, so I thought I had to run it separately. I likely ran that script before running `contrib-update generate`.

[2022-04-07 23:41] jamesdbrock commented on #42
I've written a replacement for __purescript-long__ called __purescript-int64__. I intend to add it to contrib, is that cool?

https://github.com/jamesdbrock/purescript-int64

This package has no NPM.js dependencies, instead I've just copied the NPM code into this package. https://github.com/jamesdbrock/purescript-int64/tree/main/src/Data/Internal/long.js

This would go along with our other package

[2022-04-08 01:48] #45 closed

[2022-05-07 13:39] jamesdbrock commented on #42
Published https://github.com/purescript-contrib/purescript-int64

[2022-05-07 13:39] #42 closed

[2022-05-07 13:43] JordanMartinez commented on #42
Thanks James!